@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root{
  font-size: 62.5%;
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Conte a partir da borda */
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;

  width: 37rem;
  margin-top: 12.6rem;
  

  margin-inline: auto;

  padding-inline: 4.4rem; 
}

body {
  background-color: var(--body-bg-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;

  overflow: auto;

  color: var(--purple);
}

.wrapper img#foto{
  border-radius: 50%;
  border-style: solid;
  border-color: var(--purple);
  border-width: 0.2rem;
  padding: 0.2rem;

  display: block;
  margin-inline: auto; 

  margin-bottom: 1.5rem;

  
}

.wrapper p {
  text-align: center;
  margin-bottom: 3.3rem;
}

.wrapper p #insta a{
  text-align: center;
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  
  color: var(--purple);

  line-height: 2.4rem;
}

.wrapper ul {
  
  
  list-style-type: none;
  text-align: center;

  margin-bottom: 6.8rem;
}

.wrapper #links li {
  
  

  border-color: var(--purple);
  border-style: solid;
  margin-bottom: 1.6rem;
  
  border-radius: 0.4rem;
  border-width: 0.2rem;

  line-height: 2.4rem;
  font-weight: 600;

  padding-top: 1.2rem;
  padding-bottom: 1.3rem;

  padding-inline: auto;  
}

.wrapper #links li a {
  text-decoration: none;
  font-weight: 600;

  text-align: center;
  color: var(--purple);

}

.wrapper #social {
 

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.9rem;
  
  margin-inline: auto;

  

}



